<h1>Edit</h1>

<%= simple_form_for(@pet) do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :birth %>
  <%= f.input :photo, as: :file %>
  <%= f.submit class: "btn btn-outline-secondary btn-sm" %>
<% end %>
