<% if @pet.owner %>
  <div class="d-flex justify-content-center">
      <h1 class="mt-4 border-bottom"><strong> Congratulations </strong></h1>
    </div>
    <div class="d-flex justify-content-center">
      <h2>Now <%= @pet.name %> has a new home!</h2>
    </div>


    <h2><strong>Name: </strong><%= @pet.name %></h2>
    <p><strong>Category: </strong><%= @pet.category %></p>
    <p><strong>Birth: </strong><%= @pet.birth %></p>
    <p><strong>New owner: </strong><%= @pet.owner %></p>
    <p><strong>Adoption in: </strong><%= Time.now %></p>

    <p><%= link_to "Edit", edit_pet_path(@pet), class: "btn btn-outline-secondary btn-sm" %></p>

<% else %>
  <div class="d-flex justify-content-center">
    <h1 class="mt-4 border-bottom"><strong> Pet's Details </strong></h1>
  </div>


  <h2><strong>Name: </strong><%= @pet.name %></h2>
  <p><strong>Category: </strong><%= @pet.category %></p>
  <p><strong>Birth: </strong><%= @pet.birth %></p>

  <p><%= link_to "Edit", edit_pet_path(@pet), class: "btn btn-outline-secondary btn-sm" %></p>

  <h3>Did you like to adoption this pet?</h3>

  <%= simple_form_for(@pet) do |f| %>
    <%= f.input :owner %>
    <%= f.submit class: "btn btn-outline-secondary btn-sm", value: "Adopt!" %>
  <% end %>

<% end %>
